<!DOCTYPE html>
<html>
  <head>
    <title>Myway</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../../assets/stylesheets/hy-test.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCla7i-PEF6nc3lkGd-Hxa3AMp_xlqKxKY&libraries=places&sensor=false"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../../assets/javascripts/hy-test.js"></script>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <h1>Myway</h1>
      </div>
      <div id="menu">
        <div class="dropdown">
          <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
            <img src="../../assets/images/user.png">
          </a>

          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li>profile setting</li>
            <li>Logout</li>
          </ul>
        </div>

      </div>

    </div>
    <input id="pac-input" class="controls" type="text" placeholder="Search">
    <div id="map-canvas"></div>

    <div id="detail">
      <div id="tabpanel" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
          <li role="presentation"><a href="#date" aria-controls="date" role="tab" data-toggle="tab">Date</a></li>
          <li role="presentation"><a href="#line" aria-controls="line" role="tab" data-toggle="tab">Line</a></li>
          <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="list">list</div>
          <div role="tabpanel" class="tab-pane" id="date">date</div>
          <div role="tabpanel" class="tab-pane" id="line">line</div>
          <div role="tabpanel" class="tab-pane" id="search">search</div>
        </div>
      </div>

      <div class="sort_dropdown">
        <a id="sort" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          정렬해서 보기
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="sort">
          <li>최신순으로</li>
          <li>지도를 중심으로</li>
        </ul>
      </div>


      <div class="contents">
        <div class="content">
          <p>쾰른 대성당 사진</p>
          <p>유럽여행&#62; 독일여행&#62; 쾰른 ---  2014.08.21</p>
        </div>

        <div class="content">
          <p>베를린 장벽 사진</p>
          <p>유럽여행&#62; 독일여행&#62; 베를린 --- 2014.08.25</p>
        </div>
        
        <div class="content">
          <p>스위스 알프스</p>
          <p>유럽여행&#62; 스위스여행&#62; 체르마트 --- 2014.08.16</p>
      </div>

    </div>
  </body>
</html>
