<div class="header">
	</div>
	<div class="navi">
	</div>
	<div class="map-container">
		<div id="map_canvas"></div>
		<div id="bar">
			<p class="auto"><input type="text" id="autoc"/></p>
			<p><a id="clear" href="#">Click here</a> to cleare map.</p>
		</div>
	</div>
