<div class="screen">
  <div class="header">
    <div class="user-container">
      <div class="user-circle">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      </div>
      UserName
    </div>
  </div>
  <div class="ui-layout-center">
    <div class="navi">
    </div>
    <div class="map-container">
      <div id="map_canvas"></div>
      <div id="bar">
        <p class="auto"><input type="text" id="autoc"/></p>
        <p><a id="clear" href="#">Click here</a> to cleare map.</p>
      </div>
    </div>
    <div class="arrow_container">
      <span class="arrow toggle_button glyphicon glyphicon-triangle-left"></span>
    </div>
  </div>
  <div class="ui-layout-east"></div>
</div>
