html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}


#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
 /* background-color: #33cccc;*/

  z-index: 10;
}

#detail {
  width: 30%;
  height: 100%;
  background-color: #fff;
  z-index: 9;
}

#tabpanel {
  z-index: 20;
  position: absolute;
  top: 90px;
  right: 130px;
}

.sort_dropdown {
  position: absolute;
  top: 150px;
  right: 140px;
}



.contents {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 75%;
  width: 30%;
}

.content {
  position: relative;
  right: 0px;
  border: 1px solid;
  border-radius: 25px;
  margin-top:30px;
  width: 75%;
  padding: 10px;
}

#map-canvas {
  position: absolute;
  top: 80px;
  width: 70%;
  height: 90%;
  z-index: 8;
}

#logo {
  position: absolute;
  left: 40px;

}

#menu {
  position: absolute;
  right: 100px;
  padding: 10px 0 0 0;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 20px;
  margin-right: 13px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 250px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
 }
